body{
    background-color: #21211f;
    color: white;
}

#navbar{
    text-align: right;
    margin: 0;
    padding: 0;
}

.languages-container{
    display: flex;
    position: relative;
    width: 70%;
    height: 200px;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
}

#languages-header{
    font-size: 20px;
    position: absolute;
    left: 25px;
}

#java-picture{
    max-width: 10%;
    height: auto;
    position: absolute;
    right: 10px;
    top: 50%;
}

#linkedIn-picture{
    max-width: 20%;
    height: auto;
    padding: 12px;
}

#github-picture{
    max-width: 20%;
    height: auto;
    padding: 12px;
}

.picture-container{
    display: inline-block;
    position: relative;
    text-align: center;
    height: 50vh;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
}

ol{
    list-style-type: none;
}

li{
    float: right;
}

li a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 2px 16px;
}

li a:hover{
    transform: translateY(-2px);
    border-bottom: 2px solid yellow;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}