body{
    background-color: #21211f;
    color: white;
}

#navbar{
    text-align: right;
    margin: 0;
    padding: 0;
}

.languages-container{
    display: flex;
    position: relative;
    width: 70%;
    height: 200px;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
}

#languages-header{
    font-size: 20px;
    position: absolute;
    left: 25px;
}

.language-images{
    display: flex;
    width: 80%;
    height: 40px;
    flex-direction: row;
    position: absolute;
    top: 40px;
    justify-content: space-evenly;
    /* NEED TO CENTRE THE CONTAINER IN THE PARENT CONTAINER */
}

#python-picture{
    max-width: 50%;
    height: 50%;
    top: 0px;
} 

#cpp-picture{
    max-width: 50%;
    height: 50%;
    top: 0px;
}

#c-picture{
    max-width: 50%;
    height: 50%;
    top: 0px;
}

#java-picture{
    max-width: 50%;
    height: 50%;
    top: 0px;
}

#git-picture{
    max-width: 50%;
    height: 50%;
    top: 0px;
}

#mysql-picture{
    max-width: 50%;
    height: 50%;
    top: 0px;
}

#html-picture{
    max-width: 50%;
    height: 50%;
    top: 0px;
}

#css-picture{
    max-width: 50%;
    height: 50%;
    top: 0px;
}

#linkedIn-picture{
    max-width: 20%;
    height: auto;
    padding: 12px;
}

#github-picture{
    max-width: 20%;
    height: auto;
    padding: 12px;
}

.picture-container{
    display: inline-block;
    position: relative;
    text-align: center;
    height: 50vh;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
}

ol{
    list-style-type: none;
}

li{
    float: right;
}

li a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 2px 16px;
}

li a:hover{
    transform: translateY(-2px);
    border-bottom: 2px solid yellow;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}